{{#each ideas}}
<div class="card card-body mb-2">
  <h4>{{title}}</h4>
  <p>{{details}}</p>
  <a href="/ideas/edit/{{id}}" class="btn btn-dark .btn-block btn-lg mb-2">Edit</a>
  <a href="/ideas/delete/{{id}}" class="btn btn-danger .btn-block btn-lg">Delete</a>
</div>
{{else}}
<p>No video ideas listed</p>
{{/each}}